.select-source {
  display: inline-block;
  padding: 0 10px;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--color-text);
  background-color: var(--color-bg);
  color: var(--color-text);
  vertical-align: top;
}
@media screen and (max-width:500px) {
  .select-source {
    width: 30px;
    transition: width .3s ease-out;
  }
  .select-source:focus {
    width: 120px;
  }
}
